page-investitionsrechner-tab-investition {
    .bttnIcon{
        padding-left:6px;
    }  
    
    #bttnAddAlternative{
        font-size: 18px;
    }

    #investitionsForm{
        margin-top: 25px;
    }
}
