page-home {

    .mainContent{
        font-family: 'Raleway';
    }

    .moduleCard{
        margin-bottom: 30px;
    }

    .moduleHeader {
        font-weight: bold;
        font-size: 160%;
        color: #3f7fff;
    }

    .moduleBeschreibung{
        font-size: 120%;
        line-height: 150%;
    }

    .navButton{
        margin-top: 20px;
    }
}

