page-kostenstrukturrechner {

    .mainContent{
        font-family: 'Raleway';
    }

    .formLabel{
        
        
    }


    #Beschreibungstext{    
        font-size: 140%;
        line-height: 135%;
    }

}