page-investitionsrechner-tab-ergebnis {
    .header .col {
        background-color:#edeeef;
    }
    
    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;        
    }
    
    .col:last-child  {
        border-right: solid 1px grey;
    }
    
    .row:last-child  {
        border-bottom: solid 1px grey;
    }

}
